{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        {{ form.hidden_tag()}}
          {% for field in form if field.widget.input_type != 'hidden' %}
          {{field.label}}
          <div class='form-group'>{{field}}</div>
          <span>
            {% if field.errors %}
              {% for error in field.errors %}
                {{error}}
              {% endfor %}
            {% endif %}
          </span>
          {% endfor %}

      <input type="submit" value="Update Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}